:root {
  --header-width: 100%;
  --header-height: 50px;
  --header-node-width: 30%;
  --header-node-height: 50px;
}

.header_desing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  width: var(--header-width);
  padding-left: 0px;
  padding-right: 0px;
  height: var(--header-height);
  background-color: slategrey;
}

.header_node_design {
  width: var(--header-node-width);
  height: var(--header-node-height);
}

.header_left {
  background-color: var(--bs-link-hover-color);
}

.header_center {
  background-color: var(--bs-form-valid-color);
}

.header_right {
  background-color: rosybrown;
}

