# [something] is to be considered as a placeholder for actual sensitive data.

# e-mail sending data
SENDER_ADDRESS=[the-address-of-the-account-sending]
SENDER_KEY=[16-character-auth-key]
SENDER_HOST=[the-email-server-host]
SENDER_PORT=[the-email-server-port]

# Server Oauth variables
REDIRECT_URI=[the-redirect-url-once-the-user-is-connected]

# Databse login details
DB_HOST=[host]
DB_PORT=[port]
DB_USER=[non-root-user]
DB_PASSWORD=[non-root-user-passwd]
DB_DATABASE=[database-of-interest]

# Bucket login details
MINIO_HOST=[the-url-to-the-minio-instance]
MINIO_PORT=[the-port-to-the-minio-instance]
MINIO_ROOT_USER=[username-for-the-account]
MINIO_ROOT_PASSWORD=[password-for-the-account]

# Docker settings (Optional, this will only override the default container settings) (These are only updated when the docker compose is building)
LAUNCH_SERVER_ON_BOOT=[boolean-value-if-you-wish-to-start-the-server-when-the-container-starts] # default: True
DEBUG=[boolean-value-if-you-wish-to-start-the-server-in-debug-mode]                             # default: False
LOG_SERVER_DATA=[boolean-value-if-you-wish-to-activate-logging-into-a-file]                     # default: False
LOG_PATH=[the-path-for-the-logs]                                                                # default: "${HOME}/log"
LOG_DATA=[the-name-for-the-log-file]                                                            # default: '${LOG_PATH}/log_'
LOG_ADD_DATE=[boolean-value-if-you-wish-to-add-a-dynamic-date-to-the-file-name]                 # default: True
LOG_FILE_FORMAT=[the-extension-to-put-on-the-end-of-the-file]                                   # default: log
PORT=[the-port-you-wish-the-server-will-listen-on]                                              # default: 5000, please update rebind in the docker compose if you change this value
HOST=[the-range-of-ip-s-the-server-is-listening-on]                                             #The default is '0.0.0.0' meaning all ip's
