:root {
  --access-point-container-width: 340px;
  --access-point-container-height: 32px;
  --access-point-padding-top: 4px;
  --access-point-padding-bottom: 4px;
}

.access_point_container {
  display: flex;
  justify-content: space-evenly;
  width: var(--access-point-container-width);
  /*background-color: var(--bs-info-border-subtle);*/
  padding-top: var(--access-point-padding-top);
  padding-bottom: var(--access-point-padding-bottom);
}

.access_point_title {
  height: var(--access-point-container-height);
  margin-bottom: 0px;
}

.access_point_url_input {
  height: var(--access-point-container-height);
}

.access_point_button {
  height: var(--access-point-container-height);
}

