:root {
  --button-menu-height: 30px;
}

.button_menu_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button_menu {
  width: auto;
  height: var(--button-menu-height);
}

.button_menu_dropdown {
  width: auto;
  height: var(--button-menu-height);
}

.button_menu_icon {
  font-size: 17px;
}

